@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.text {
    max-width: 800px;
    font-family: "Poppins", monospace;
    font-size: 30px;
    line-height: 1.5;
    color: #ffffffb4;
}

.char.scrambling {
    background: linear-gradient(90deg, #00c8ff, #01ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
